<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criadores</title>
    <link rel="stylesheet" href="criadores.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="item">
                <img src="images/garcia.png" alt="Description 1" class="circle">
                <p>Pedro Garcia</p>
            </div>
            <div class="item">
                <img src="Images/borges.png" alt="Description 3" class="circle">
                <p>Lucas Borges</p>
            </div>
            <div class="item">
                <img src="Images/resende.png" alt="Description 4" class="circle">
                <p>Pedro Resende</p>
            </div>
            <div class="overlap-container">
                <img src="Images/turtle.png" alt="Overlapping Image 1" class="overlap">
                <img src="Images/espadascruzadas.png" alt="Overlapping Image 2" class="overlap">
            </div> 
        </div>
    </main>
    <footer>     
        <a href="#">
            <img src="/Images/turtle.png" class="site-icon" >
        </a>     
        <nav>
            <ul>
                <li><a href="#">Criadores</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>