<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_Page</title>
    <link rel="stylesheet" href="/app/static/styles/sign-up.css">
</head>
<body> 
        <div class="form-structor">
            <div class="signup">
                <h2 class="form-title" id="signup">Sign up</h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Name" />
                    <input type="email" class="input" placeholder="Email" />
                    <input type="password" class="input" placeholder="Password" />
                </div>
                <button class="submit-btn">Sign up</button>
            </div> 
                <div class="sign-up-link">Or Log in</div>
        </div>
        
        
                

        
    <footer>         
        <a href="#">
            <img src="/app/Images/turtle.png" class="site-icon" >
        </a>     
    
        <nav>
            <ul>
                <li><a href="/app/template/criadores.html">Criadores</a></li>
                <li><a href="/app/template/to-do.html">To do</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>