
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

html,body {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;
	background: linear-gradient(to left, #bdcf47,#6e823a); 
	height: 100%;
	width: 100%;
    
}

.form-structor {
	background-color: #222;
	border-radius: 15px;
	height: 70vh;
	width: 50vh;
	position: relative;
	overflow: hidden;
	
	&::after {
		content: '';
		opacity: .8;
		position: absolute;
		top: 0;right:0;bottom:0;left:0;
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 200vh;
		background-image: url('https://images4.alphacoders.com/104/thumb-1920-1049373.jpg');
	}
	
	.signup {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 65%;
		z-index: 5;
		
		.form-title {
			color: #fff;
			font-size: 1.7em;
			text-align: center;
			
			
		}
		
		.form-holder {
			border-radius: 15px;
			background-color: #fff;
			overflow: hidden;
			margin-top: 50px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;
			
			.input {
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 30px;
				line-height: 30px;
				padding: 8px 15px;
				border-bottom: 1px solid #eee;
				width: 100%;
				font-size: 12px;
				
				&:last-child {
					border-bottom: 0;
				}
				&::-webkit-input-placeholder {
					color: rgba(0,0,0,0.4);
				}
			}
		}
		
		.submit-btn {
			background-color: rgba(0,0,0,0.4);
			color: rgba(256,256,256,0.7);
			border:0;
			border-radius: 15px;
			display: block;
			margin: 15px auto; 
			padding: 15px 45px;
			width: 100%;
			font-size: 13px;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			transition: all .3 ease;
			
			&:hover {
				transition: all .3s ease;
				background-color: rgba(0,0,0,0.8);
			}
		}
		a:visited { 
			text-decoration: none; 
			color: rgb(255, 255, 255); 
		   }
		.sign-up-link{
			
			color: rgba(256,256,256,0.7);
			border:0;
			border-radius: 15px;
			padding: 1vh;
			width: 31%;
			font-size: 80%;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			-webkit-transition: all .3s ease;
			transition: all .3 ease;
			
			&:hover {
				transition: all .3s ease;
				background-color: rgba(60, 60, 60, 0.2);
				text-decoration: underline;
			}

		}
	}
}
h1{
	opacity: 0;
}
.site-icon {
    width: 5vh;
    height: 5vh;
    transition: transform 1s, filter 1s;
    border-radius: 30%;
}

.site-icon:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    transform: scale(1.05); 
    cursor: help;
}

footer {
	background: linear-gradient( #484e23, #2a2b28);
	color: #fff;
	padding: 1vh;
	display: flex;
	justify-content:center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
   
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 3vh;
   
}

footer a {
    color: #fff;
    text-decoration: none;
}

